{% extends "base.html" %}

{% block content %}
    <h1 class="my-5">These are the notes:</h1>

    <div class="row row-cols3 g2">
        {% for note in notes %}
        <div class="col">
            <div class="p-3 border">
                <a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-non">
                    <h3>{{note.title}}</h3>
                </a>
                {{note.notes|truncatechars:10}}

            </div>
        </div>
        {% endfor %}
    </div>
    <!-- <div>
        <a href="{% url 'notes.new' %}" class="btn btn-primary my-5"> New Note</a>
        <a href="{% url 'logout' %}" class="btn btn-primary my-5"> logout</a>
    </div> -->
{% endblock %}
