{% extends "base.html" %}

{% block content %}
    <h1 class="my-5">These are the notes:</h1>

    <dir class="row row-cols3 g2">
        {% for note in notes %}
        <div class="col">
            <div class="p-3 border">
                <a href="{% url 'notes.detail' pk=note.id %}" class="text-dark text-decoration-non">
                    <h3>{{note.title}}</h3>
                </a>
                {{note.notes|truncatechars:10}}

            </div>
        </div>
        {% endfor %}
    </dir>
{% endblock %}
